@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-display: "Comforter", cursive;
  --font-sans: "Poppins", sans-serif;
}

body{
  @apply flex flex-col h-screen
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply bg-indigo-100 text-indigo-950 font-sans;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
